<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Numbersystem Converter
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-item>
        <ion-label>Given Base</ion-label>
        <ion-select [(ngModel)]="givenBase">
            <ion-select-option *ngFor="let base of bases" value="{{base}}">{{base}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Given Number</ion-label>
        <ion-input (keypress)="_keyPress($event)" [(ngModel)]="givenNumber"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Wanted Base</ion-label>
        <ion-select [(ngModel)]="wantedBase">
            <ion-select-option *ngFor="let base of bases" value="{{base}}">{{base}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-button (click)="convert()">Convert</ion-button>
    <ion-input [(ngModel)]="wantedNumber" disabled></ion-input>
    <ion-textarea [(ngModel)]="steps" rows="{{stepCount}}"></ion-textarea>
</ion-content>