<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            IPv4 Networking
        </ion-title>
        <ion-button (click)="toggleShowBinary()" color="{{showBinary ? 'medium' : 'primary'}}">
            <ion-icon name="{{showBinary ? 'eye-off-outline' : 'eye-outline'}}"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let dezi of addrDezimals; index as i; trackBy: trackByFn" size="3" size-sm="2">
                <ion-input value="{{dezi}}" (ionChange)="setAddrDezimal($event, i)"
                    (keypress)="_keyPressDezimal($event, i)"></ion-input>
                <ion-input *ngIf="showBinary" value="{{addrOctets[i]}}" (ionChange)="setAddrOctet($event, i)"
                    (keypress)="_keyPressBinary($event, i)"></ion-input>
            </ion-col>

            <ion-col size="12" size-sm="2">
                <ion-select [(ngModel)]="cidr" class="center">
                    <ion-select-option *ngFor="let c of cidrRange" value="{{c}}">/{{c}}</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col>
                <h5 class="center">i have the</h5>
                <ion-item>
                    <div class="center">
                        <ion-chip color="{{ !useSubnetmask ? 'success' : 'dark' }}">
                            <ion-span [ngClass]="{'inactive': useSubnetmask}">number of
                                subnets</ion-span>
                        </ion-chip>

                        <ion-toggle color="primary" (ionChange)="toggleUseSubnetmask()"></ion-toggle>
                        <ion-chip color="{{ useSubnetmask ? 'success' : 'dark' }}">
                            <ion-span [ngClass]="{'inactive': !useSubnetmask}">subnet mask
                            </ion-span>
                        </ion-chip>

                    </div>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="useSubnetmask;">
            <ion-col class="ion-col-center">
                <ion-select [(ngModel)]="subCidr">
                    <ion-select-option *ngFor="let c of subCidrRange.slice(fuckNg(cidr))" value="{{c}}">/{{c}}
                    </ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!useSubnetmask;">
            <ion-col class="ion-col-center">
                <ion-label>Enter number of Subnets:</ion-label>
                <ion-input [(ngModel)]="subnetCount" (keypress)="_keyPressSubnetCount($event)"
                    placeholder="Enter number of subnets"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-col-center">
                <ion-button (click)="calculateSubnets()">GO</ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="subnets.length > 0">
            <ion-col size="12" class="ion-col-center">{{ submaskDezimals.join('.') }}</ion-col>
            <ion-col size="12" *ngIf="showBinary" class="ion-col-center">{{ submaskOctets.join('.') }}</ion-col>
        </ion-row>
        <ion-item *ngFor="let subnet of subnets; index as i"
            [ngClass]="{'unused-network-row': i >= subnetCount, 'center': true}">
            <ion-row class="center">
                <ion-col size="12" class="center">Network {{i+1}}</ion-col>
                <ion-col size="12" class="center">NetworkAddr: {{subnet.networkID}}</ion-col>
                <ion-col size="12" class="center">First Host: {{subnet.networkRange[0]}}</ion-col>
                <ion-col size="12" class="center">Last Host:{{subnet.networkRange[1]}}</ion-col>
                <ion-col size="12" class="center">Hosts: {{subnet.networkRange[2]}}</ion-col>
                <ion-col size="12" class="center">Broadcast: {{subnet.broadcast}}</ion-col>
                <hr>
            </ion-row>
        </ion-item>


    </ion-grid>
</ion-content>