.center {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive {
    opacity: 50%;
}

.ion-col-center {
    text-align: center;
}

.unused-network-row {
    /* border: solid red 5px; */
    display: none;
}